<%- include('header') -%> 
    <div id="loading">
        <div class="loader"></div> Carregando...
    </div>

    <header id="header">
        <div class="logo">yuushax</div>
    </header>

    <div id="app">
        <h4 style="font-size: 2rem;">Página não encontrada.</h4>
    </div>

    <span id="footer">Desenvolvido por <a href="http://instagram.com/guilhermesilva.py" target="_blank">Guilherme Silva</a></span>
<%- include('footer') -%>