<%- include('header') -%> 
    <div id="loading">
        <div class="loader"></div> Carregando...
    </div>

    <div id="app">
        <div class="logo">yuushax</div>
        <h4 style="font-size: 1.5rem;">Página não encontrada.</h4>
    </div>

<%- include('footer') -%>