    <script>
        var i = setInterval(function () {

            clearInterval(i);
        
            // O código desejado é apenas isto:
            document.getElementById("loading").style.display = "none";
            // document.getElementById("header").style.display = "flex";
            document.getElementById("app").style.display = "flex";
            document.getElementById("footer").style.display = "block";

        }, 1000);
    </script>
</body>
</html>