<%- include('header') -%> 
    <div id="loading">
        <div class="loader"></div> Carregando...
    </div>

    <header id="header">
        <div class="logo">yuushax</div>
    </header>

    <div id="app">
        <h4>Criar minha conta no Yuushax</h4>
        <form action="/route/register" method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-group">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
        <span>Já tenho uma conta <a href="/">Login</a></span>
    </div>

    <span id="footer">Desenvolvido por <a href="http://instagram.com/guilhermesilva.py" target="_blank">Guilherme Silva</a></span>
<%- include('footer') -%>