<%- include('header') -%> 
    <div id="loading">
        <div class="loader"></div> Carregando...
    </div>

    <div id="app">
        <div class="logo">yuushax</div>
        <h4>Criar minha conta no Yuushax</h4>
        <form action="/route/register" method="POST">
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="username" name="username" id="username>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-group">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
        <span>Já tenho uma conta <a href="/">Login</a></span>
    </div>

<%- include('footer') -%>